body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #007AFF;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    border-bottom: 2px solid #0055FF;
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 700;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

#projects {
    padding: 40px 0;
}

.project {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.project p {
    font-size: 1.1em;
    line-height: 1.6;
}

.project a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007AFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #0055FF;
}

.carousel {
    margin-top: 20px;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    display: block;
    opacity: 0;
    transition: opacity 0.5s;
}

.carousel img:first-child {
    animation: imageFade 8s infinite;
    animation-delay: 2s;
}

@keyframes imageFade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.carousel img:nth-child(2) {
    animation: imageFade 40s infinite;
    animation-delay: 1s;
}

.img-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-carousel img {
    width: 100%;
    display: inline-block;
    opacity: 0;
    transition: opacity 0.5s;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.img-carousel img {
    animation: slide 10s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
}

.img-carousel img:nth-child(2) {
    animation-delay: 2s;
}

.img-carousel img:nth-child(3) {
    animation-delay: 4s;
}


footer {
    background-color: #007AFF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
}

.accordion-btn {
    width: 100%;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 20px;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    border-bottom: 1px solid #eee;
    margin-top: 0;
    font-size: 2em;
    font-weight: 700;
}

.accordion-btn:last-child {
    border-bottom: none;
}

.accordion-btn:hover {
    background-color: #f0f0f0;
}

.project-content {
    display: none;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.project-content p {
    margin-bottom: 15px;
    font-size: 1.1em;
    line-height: 1.6;
}

.project-content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007AFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-content a:hover {
    background-color: #0055FF;
}

.active {
    display: block;
}

@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1em;
    }

    .project p {
        font-size: 1em;
    }

    .project a {
        padding: 8px 16px;
    }
}